/* FULLSCREEN, COURIER NEW */
html, body {
    font-family: "Courier New";
    margin: 0px;
    height: 100%;
    cursor: crosshair;
}

/* JS CANVAS */
#worldCanvas {
    position: fixed;
    top: 0;
    left: 0;
}